.modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .close-button {
      cursor: pointer;
      font-size: 1.8rem;
      color: #ff726f;
    }

  }

  .modal-content {
    overflow-y: scroll;
  }

}
